@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .item_floating_header {
    @apply absolute top-[-8px] right-0 w-[20px] h-[20px] bg-[#2bcbba] text-white flex items-center justify-center  rounded-[50%] cursor-pointer;
  }
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md;
}

.primary-button {
  @apply rounded bg-[#d5cbcb] py-2 px-4 shadow outline-none hover:bg-amber-100 active:bg-amber-100;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Prata&display=swap");

/* custom font  */
@layer base {
  @font-face {
    font-family: "TAN_PEARL";
    src: url("/fonts/TAN_PEARL.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Seasons_Bold";
    src: url("/fonts/Seasons_Bold.woff2") format("woff2");
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Cormorant Garamond", serif;
}

a {
  color: inherit;
  text-decoration: none;
  width: fit-content;
  font-family: myFont;
}
/* header_left */
.item_floating_header {
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  top: -8px;
  right: 0;
  background-color: #dfc392;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/* start maneBanner */
.maneBanner_img img {
  border-radius: 200px 200px 0px 0px;
  width: 144px;
  height: 238px;
  object-fit: cover;
}
.maneBanner_img_tow img {
  border-radius: 200px 200px 0px 0px;
  width: 237px;
  height: 444px;
  -o-object-fit: cover;
  object-fit: cover;
}
/* end maneBanner */
.container_ {
  position: relative;
  height: 500px;

  max-width: 700px;
}

.swiper_container {
  margin-left: 73px;
  padding-left: 187px !important;
  padding-right: 205px !important;
}

.swiper-slide {
  height: 500px !important;
}

.swiper-slide .image_banner {
  width: 237px !important;
  height: 444px !important;
}
.swiper-slide div img {
  width: 237px;
  height: 444px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 200px 200px 0px 0px;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-pagination {
  position: absolute !important;
  width: 15rem !important;
  bottom: 10px;
  left: 292px !important;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #dfc392;
}
/* start responsive main slider */
@media (max-width: 639px) {
  .container_ {
    max-width: 100% !important;
  }
  .swiper-slide img {
    width: 100% !important;
  }
  .swiper-pagination {
    left: 61px !important;
  }
  .swiper-slide .image_banner {
    width: 250px !important;
    height: 444px !important;
  }
  .swiper-slide div img {
    height: 390px;
  }
  .swiper_container {
    margin: 72px 0;
  }
  .container_ .maneBanner_star_top {
    position: absolute;
    width: 133px;
    top: -22px !important;
    left: -10px !important;
  }
  .maneBanner_star_bottom {
    position: absolute;
    width: 133px;
    right: -10px !important;
    bottom: -80px !important;
  }
  .maneBanner_mane_circles {
    position: absolute;
    width: 162px !important;
    left: 246px !important;
    bottom: 552px !important;
    animation-name: rotate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
@media (max-width: 439px) {
  .swiper_container {
    padding-left: 65px !important;
    padding-right: 106px !important;
  }
}
@media (min-width: 500px) {
  .swiper_container {
    padding-left: 187px !important;
    padding-right: 205px !important;
  }
}

/* end responsive main slider */
/* ========Start styles====== */

/* ========End styles====== */
.maneBanner_circles_top {
  position: absolute;
  width: 500px;
  top: -350px;
  left: 229px;
}
.maneBanner_circles_bottom {
  position: absolute;
  width: 500px;
  bottom: -367px;
  right: 210px;
}
.maneBanner_circles_srta {
  position: absolute;
  width: 283px;
  top: -98px;
  left: -102px;
}
.container_ .maneBanner_star_top {
  position: absolute;
  width: 133px;
  top: -52px;
  left: 83px;
}
.maneBanner_star_bottom {
  position: absolute;
  width: 133px;
  right: 62px;
  bottom: -79px;
}
.maneBanner_mane_circles {
  position: absolute;
  width: 250px;
  left: 362px;
  bottom: -5px;
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* === start Footer */
.line_center {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #3b3b3b;
  margin: 0px 15px 0px 15px;
  margin-right: -133px;
  padding: 0px 0px 0px 75px;
}
.line {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: rgba(255, 255, 255, 0.15);
  padding: 20px 50px 20px 50px;
  margin-top: 0px;
  margin-bottom: 1px;
  width: 2000px;
  position: relative;
  left: -36px;
}

/* === End Footer */
/* start product TEST */

.product_img {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden !important;
  cursor: pointer;
}
.thumbnail img {
  max-width: 100%;
  height: 499px;
  object-fit: cover;
}
.product_img .thumbnail.hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.75s ease,
    transform 1.1s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.product_img .thumbnail.hover img {
  max-width: 100%;
  height: 499px;
  object-fit: cover;
}

.product_img:hover .thumbnail.hover {
  opacity: 1;
  transform: scale3d(1, 1.05, 1) translateZ(0);
}

.product_img:hover .actions {
  opacity: 1;
  transform: translateZ(0);
}
.product_brand {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 15px;
  width: 44px;
  height: 44px;
  background-color: #fff;
  position: absolute;
  color: #000;
  text-transform: uppercase;
  right: 0;
  z-index: 10;
  transform: translate3d(0, 0%, 0);
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.product_brand:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.actions {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  top: auto;
  bottom: 20px;
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.actions ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.actions ul li a {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #fff;

  border-radius: 50%;
  transition: var(--transition-background), var(--transition-color);
}

.actions ul li a:hover {
  background-color: #000;

  color: #fff;
}

.product_info {
  text-align: center;
}
.product_info .product_title {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 34px;
}

.product_info .product_price .before {
  text-decoration: line-through;
  color: #ccc;
  margin: 0 20px;
}
.btn {
  text-align: center;
  margin: 30px 0;
}
.btn a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 30px;
  display: inline-block;
  line-height: 40px;
  border: 1px solid #000;

  color: #000;
  background-color: #fff;
}
.btn a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 1px solid #000;
}

/* end product TEST */
/*=====start cart product  */
.summery_product {
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 50px;
  /* margin-right: 100px; */
}
.summery_product h1 {
  font-size: 40px;
}
.summery_product .product_group {
  display: flex;
  justify-content: space-between;
}
.summery_product .product_group .product_price {
  display: flex;
  align-items: center;
}
.summery_product .product_group .product_price > span {
  font-size: 30px;
}
.summery_product .product_group .product_price .wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.summery_product .product_group .product_price .wrap::before {
  position: absolute;
  content: "";
  top: 0;
  left: 12px;
  height: 100%;
  width: 1px;
  background-color: grey;
  transform: skew(-25deg);
}
.summery_product .product_group .product_price .wrap .before {
  text-decoration: line-through;
}
.summery_product .product_group .product_price .wrap .discount {
  display: inline-block;
  width: 44px;
  font-size: 14px;
  padding: 5px;
  background-color: rgb(114, 44, 44);
  color: white;
  margin-left: -10px;
  text-align: center;
  line-height: 1;
  border-radius: 5px;
}
.summery_product .product_group .product_rating {
  line-height: initial;
  text-align: right;
}
.summery_product .product_size .wrap_has {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.summery_product .product_size .wrap_has > button {
  font-size: 14px;
  line-height: 44px;
  border-radius: 5px;
  border: 1px solid #d1d8e0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}
.summery_product .product_size .wrap_has > button:hover {
  color: #fff;
  background-color: #000;
}
.summery_product .product_stock {
  display: flex;
  gap: 5px;
}
.summery_product .product_stock span {
  color: gray;
}
.summery_product .product_stock i {
  color: var(--primary-color);
  padding-left: 10px;
}
.summery_product .product_action {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.summery_product .product_action .addCart {
  width: 100%;
}
.summery_product .product_action .addCart button {
  width: 100%;
  border-radius: 5px;
  text-align: center;

  height: 50px;
  border-color: dark;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  line-height: 42px;
  border-style: solid;
  transition: background-color 0.3s;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
.summery_product .product_action .addCart button:hover {
  color: #000;
  background-color: #fff;
}
.summery_product .shipping {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #f1f2f6;
}
.summery_product .product_action .shipping li {
  position: relative;
  padding-left: 35px;
  margin-top: 10px;
  line-height: 1.5;
}
.summery_product .description_product {
  margin-bottom: 1.25rem;
}

.summery_product .description_product ul {
  padding: 0;
  list-style-type: disc;
  margin: 20px 0;
}

/*===== end cart product  */
/*  start login Screen  */

/* End login Screen  */
